.dear-ueno {
  &__logo {
    padding-top: 80px;
    margin-bottom: 30px;
  }

  &__question-title {
    margin-bottom: -10px;
  }

  &__question-body {
    margin-bottom: 0;
  }

  &__avatar {
    width: 144px;
    height: 54px;
    float: left;
    margin-right: 12px;
    padding-bottom: 72px;

    @include on-mobile {
      width: 144px !important;
      height: 54px !important;
      margin-right: 100%;
      padding-bottom: 8px;
    }
  }

  &__person,
  &__title {
    @include antialias;
    font-family: $font-secondary;
    font-size: 18px;

    @include on-mobile {
      font-size: 15px !important;
    }
  }

  &__person {
    color: $color-off-black;
    margin-top: 10px;
    margin-bottom: 4px;

    @include on-mobile {
      margin-top: 10px;
    }
  }

  &__title {
    color: $color-gray;
    margin-bottom: 0;
  }

  &__answer {
    margin-top: 16px;
    margin-bottom: 35px;
  }

  &__footer {
    @include antialias;
    margin-top: -25px;

    @include on-mobile {
      margin-top: 0 !important;
    }

    &,
    a {
      font-family: $font-secondary;
      color: $color-dark-gray;
      font-size: 13px;
      line-height: 18px;
    }

    a {
      text-decoration: underline;
    }
  }

  .link {
    display: block;
    margin-bottom: -10px;
  }
}
