.head__greeting {
  font-size: $heading2;
  color: $color-off-black;
  font-weight: 700;
  margin-bottom: 24px;
}

.head__deadline {
  font-weight: 700;
  color: color-off-black;
}

.head__deadline_date {

}