{{#> section }}
  <div class="segment segment--narrow">
    <div class="body-text">
      <h1 class="head__greeting">Yth, Dushi</h1>
      <p>Selesaikan pembayaran anda sebelum <span class="head__deadline">Jumat, 14 September 2019, 17:58</span></p>
    </div>
  </div>

  <div class="segment segment--narrow segment--ticket">
    <div class="body-text">
      {{> divider }}
      <h2 class="body__package_name">Pandora Experience Bandung Escape Game Tickets</h2>
      <p>Sabtu, 23 Februari 2019  •  5 Dewasa  •  Weekend Admission Ticket (5 – 8 Pax)</p>
    </div>
  </div>

  {{> divider }}

  <div class="segment segment--narrow">
    <div class="body-text">
      <p>Jumlah total</p>
      <h1 class="head__greeting">Rp120.000</h1>
    </div>
  </div>
  <div class="segment segment--narrow segment--important">
    <div class="body-text body-text--reset">
      <p class="body-text--reset white-paragraph"><span class="bold">PENTING!</span> Mohon transfer sampai 3 digit terakhir</p>
    </div>
  </div>

  <div class="segment segment--narrow">
    <div class="body-text body-text--reset">
      <p class="body__overhead">Transfer ke salah satu akun bank berikut:</p>
      <div class="clearfix">
        <img class="dear-ueno__avatar" alt="Bank logo" src="images/mandiri.jpg">
        <div class="dear-ueno__answerer">
          <p class="title small-paragraph">No. Rekening</p>
          <p class="link">145 00 0000369 5</p>
        </div>
        <div class="dear-ueno__answerer">
          <p class="title small-paragraph">Nama Pemilik Rekening</p>
          <p class="link">PT. Alnoyaxa Dharma Jaya</p>
        </div>
      </div>
      {{> divider }}
      <div class="clearfix">
        <img class="dear-ueno__avatar" alt="Bank logo" src="images/bni.jpg">
        <div class="dear-ueno__answerer">
          <p class="title small-paragraph">No. Rekening</p>
          <p class="link">079 295 0947</p>
        </div>
        <div class="dear-ueno__answerer">
          <p class="title small-paragraph">Nama Pemilik Rekening</p>
          <p class="link">PT. Alnoyaxa Dharma Jaya</p>
        </div>
      </div>
      {{> divider }}
      <div class="clearfix">
        <img class="dear-ueno__avatar" alt="Bank logo" src="images/bri.jpg">
        <div class="dear-ueno__answerer">
          <p class="title small-paragraph">No. Rekening</p>
          <p class="link">0591 01 000262 56 0</p>
        </div>
        <div class="dear-ueno__answerer">
          <p class="title small-paragraph">Nama Pemilik Rekening</p>
          <p class="link">PT. Alnoyaxa Dharma Jaya</p>
        </div>
      </div>
    </div>
  </div>
{{/section}}

{{#> section }}
  <div class="segment segment--narrow segment--with-top">
    <div class="body-text">
      <h2 class="secondary--title">Anda sudah membayar?</h2>
      <p>Setelah pembayaran anda terkonfirmasi, kami akan memproses transaksi anda.</p>
    </div>
    <div>
    {{#> button edit='article_1_linktext'}}
      Saya sudah membayar
    {{/button}}
    </div>
  </div>
{{/section}}