{{#> section additional='section--no-bottom' }}
  <div class="segment segment--narrow">
    <div class="body-text" mc:edit="article_1_text">
      <h1 class="head__greeting">Dear, Dushi</h1>
      <p>Selesaikan pembayaran anda sebelum <span class="head__deadline">Jumat, 14 September 2019, 17:58</span></p>
    </div>
  </div>

  <div class="segment segment--narrow segment--ticket">
    <div class="body-text" mc:edit="article_1_text">
      {{> divider }}
      <h2 class="body__package_name">Pandora Experience Bandung Escape Game Tickets</h2>
      <p>Sat, 23 February 2019  •  5 Adults  •  Weekend Admission Ticket (5 – 8 Pax)</p>
    </div>
    {{> divider }}
  </div>

  <div class="segment segment--narrow">
    <div class="body-text" mc:edit="article_2_body">
      <p style="margin-bottom: 24px;">Please make your payment to:</p>
      <div class="clearfix" style="margin-bottom: 12px;">
        <img class="dear-ueno__avatar" alt="Justin Greene" width="158px" height="48px" src="images/bni.jpg">
      </div>
      <div class="dear-ueno__answerer">
        <p class="title small-paragraph">Account Number</p>
        <p class="link" mc:edit="dearueno_answer_title">022 784 7450</p>
      </div>
      <div class="dear-ueno__answerer">
        <p class="title small-paragraph">Account Holder Name</p>
        <p class="link" mc:edit="dearueno_answer_title">Ongki Herlambang</p>
      </div>
      <div class="dear-ueno__answerer">
        <p class="title small-paragraph">Total payment</p>
        <p class="link large-paragraph" style="font-size: 20px;" mc:edit="dearueno_answer_title">Rp 120.000</p>
      </div>
    </div>
  </div>
  <div class="segment segment--narrow segment--important">
    <div class="body-text" style="margin-bottom: 0px;" mc:edit="article_2_body">
      <p style="margin-bottom: 0px;"><span class="link" style="margin-bottom: 0px;">IMPORTANT!</span>  Please transfer until the last 3 digits</p>
    </div>
  </div>
{{/section}}

{{#> section }}
  <div class="segment segment--narrow segment--with-top">
    <div class="body-text" mc:edit="article_1_text">
      <h2 style="font-size: 20px; font-weight: 700; color: #484848;">Anda sudah membayar?</h2>
      <p>Setelah pembayaran anda terkonfirmasi, kami akan memproses transaksi anda.</p>
    </div>
    <div>
    {{#> button edit='article_1_linktext'}}
      Saya sudah membayar
    {{/button}}
    </div>
  </div>
{{/section}}