
{{#> section footer=true }}
<row class="footer">
  <columns class="footer__content">
    <center>
      <menu class="social-nav">
        <item href="https://www.facebook.com/atraveli/" class="social-nav__item">
          <img src="images/social-icons/facebook.png" class="social-nav__item__icon social-nav__item__icon--facebook" width="10" height="18" alt="Facebook" />
        </item>
        <item href="https://twitter.com/@atraveli_indo" class="social-nav__item">
          <img src="images/social-icons/twitter.png" class="social-nav__item__icon social-nav__item__icon--twitter" width="21" height="16" alt="Twitter" />
        </item>
        <item href="https://www.instagram.com/atraveli" class="social-nav__item">
          <img src="images/social-icons/instagram.png" class="social-nav__item__icon social-nav__item__icon--instagram" width="19" height="19" alt="Instagram" />
        </item>
      </menu>
    </center>
    <div class="footer__text" mc:edit="footer_text">
      <p>©2019 Atraveli. Hak cipta dilindungi</p>
    </div>
  </columns>
</row>
{{/section}}
