<row class="header narrow">
  <img src="https://staging.atraveli.com/images/8331546846019169.png" mc:edit="article_1_image" class="image" width="580" height="8px" alt="Hand inside mailbox holding out letter" />
  <columns small="6">
    <a href="https://atraveli.com{{> utm-link medium='logo' }}">
      <img src="images/atraveli.jpg" width="136" height="28" alt="Atraveli" class="header__logo" />
    </a>
  </columns>
  <columns small="6" class="header__side">
    <p class="header__date" mc:edit="header_date">*|DATE:l, F j, Y|*</p>
  </columns>
</row>
